{% block head %}<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already</p>
{% else %}
<div class="container">
    <form class="well form-horizontal" action="/login" method="post"  id="login_form">
      <fieldset>

        <!-- Form Name -->
        <legend>Login</legend>

        <!-- Username or email input-->
        <div class="form-group">
          <div class="col-md-4 col-md-offset-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input name="username" placeholder="Username or E-Mail" class="form-control"  type="text">
            </div>
          </div>
        </div>
        <!-- password input-->
        <div class="form-group">
          <div class="col-md-4 col-md-offset-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input name="password" placeholder="Password" class="form-control"  type="password">
            </div>
          </div>
        </div>

        <!-- Login Button -->
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">
            <button type="submit" class="btn btn-success" >Login <span class="glyphicon glyphicon-log-in"></span></button>
          </div>
        </div>

        <!-- Already a member Link -->
        <div class="row">
          <div class="col-md-6 col-md-offset-4">Not registered? <a href="register.php">Register</a></div>
        </div>


      </fieldset>
    </form>
    </div>
  </div><!-- /.container -->
{% endif %}
{% endblock %}